@import "tailwindcss";

/* Register the font */
@font-face {
  font-family: "BisonBold";
  src: url("../assets/fonts/BisonBold.ttf") format("truetype");
  /* font-weight: normal; */
  /* font-style: normal; */
  /* font-display: swap;  */
}

* {
  box-sizing: border-box;
}

body {
  padding-bottom: 0;
  font-family: "BisonBold", sans-serif;
}

@keyframes conveyor {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-conveyor {
  animation: conveyor 20s linear infinite;
}

/* Edge fade masks */
.fade-edges {
  position: relative;
}

.fade-edges::before,
.fade-edges::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.fade-edges::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.fade-edges::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

.text-color {
  /* color: #bb5900; */
  color: #f4793a;
}

.bg-color {
  /* background-color: #bb5900;*/
  background-color: #f4793a;
}

.bg-color-2 {
  background-color: "#8498AC";
}
.bg-color-3 {
  background-color: "#C5939D";
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-border {
  background-size: 200% 200%;
  animation: borderMove 3s linear infinite;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animate-text {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 200% 50%;
  }
}

.logo-scratch {
  filter: drop-shadow(500px 5px white);
  transform: translateX(-500px);
}

/* For Scroll animation */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
